

<%- include ('_header') %>


	<% if(data._id){ %>
  <% post = "/announcedit" %>

  <% }else{  %>

  <% post = "/addcourse" %>
  <% data = "" %>

  <% } %>

<div class="table-main">
  <h1 class="std-heading">ADD Course</h1>
  <form method="POST" action="#">
	  
    <div  class="form-group"  id = "Update">
      <label for="announcement-title">Name</label>
      <input type="text" class="form-control course-input" id="email" name = "name" value="<%= data.name %>" required>
      <label for="announcement-body">Duration</label>
      <input type="number" class="form-control course-input" min= "1" id="duration" name = "duration" value="<%= data.duration %>" required>
      <label for="announcement-body">Description</label>
      <textarea type="tetxt"class="form-control course-text" id="announcement-body" name = "description" value="<%= data.description %>"> </textarea>
    </div>
    <a href="#">
     <button type="submit" class="submit">Submit</button></a>
  </form>

</div>



<%- include ('../include/_footer') %>