<%- include ('_header') %>



  <div class="table-main">
	<% if(data._id){ %>
  <% post = "/editModule/" + data._id %>
<h1 class="std-heading">EDIT MODULE</h1>
			

  <% }else{  %>
<h1 class="std-heading">ADD MODULE</h1>

  <% post = "/addmodule/" + course %>
  <% data = "" %>

  <% } %>
  <form method="POST" action="#">
	  <% if(data._id){ %>
 
		<a class="ann-remove" href="/admin/teachers/<%= data._id %>"><i class="fa fa-plus"></i> View Tutors for This module</a>
			

  <% } %>
  <div  class="form-group"  id = "Update">
	  <label for="announcement-title">Name</label>
	  <input type="text" class="form-control course-input" id="email" name = "name" value="<%= data.name %>" required>
	  <label for="announcement-body">Duration</label>
	  <input type="number" class="form-control course-input" min ="0" id="duration" name = "duration" value="<%= data.duration %>" required>
	  <label for="announcement-body">Description</label>
	  <textarea type="text"class="form-control course-text" id="announcement-body" name = "description"><%= data.description %> </textarea>
	  <label for="announcement-body">Credit</label>
	  <input type="number"class="form-control course-input" id="announcement-body" name = "credit" value="<%= data.credit %>"> </input>
  </div>
  <a href="#">
   <button type="submit" class="submit">Submit</button></a>
</form>
  <% if(data._id){ %>
  <a class="log-remove-btn" href="/admin/remove/modules&<%= data._id %>" onclick="return confirm('Confirm to remove module');"><i class="fa fa-trash-o"></i> Remove</a>

  <% } %>

</div>

<%- include ('../include/_footer') %>
