<!-- include header -->
<%- include ('_header') %>
<!-- include header -->

<% if(data._id){ %>
  <% post = "/edituser/teachers" %>

  <% }else{  %>

  <% post = "adduser/teachers" %>
  <% data = "" %>

  <% } %>


  <div class = "table-main">
    <form method="POST" action="/admin/<%= post %>">
  

      <div  class="form-group"  id = "Update">
        <input type="tetxt" id="idHide" name = "_id" value="<%= data._id %>" readonly>
        <label for="email">Full Name</label>
        <input type="text" id="email" name = "name" value="<%= data.name %>" required>
      </div>
      <div  class="form-group"  id = "Update">
        <label for="email">Email address</label>
        <input type="email" id="email" name = "email" value="<%= data.email %>" required>
      </div>
      <div  class="form-group"  id = "Update">
        <label for="email">Phone Number</label>
        <input type="text" id="email" name = "phoneNumber" value="<%= data.phoneNumber %>" required>
      </div>
        <div  class="form-group"  id = "Update">
        <label for="email">Address</label>
        <input type="text" id="email" name = "address" value="<%= data.address  %>" required>
      </div>
        <div  class="form-group"  id = "Update">
        <label for="email">Dob</label>
        <input type="date" id="email" name = "dob" value="<%= data.dob  %>" required>
      </div>
        <div  class="form-group"  id = "Update">
        <label for="email">Salary</label>
        <input type="text" id="email" name = "salary" value="<%= data.salary  %>" required>
      </div>
      <div  class="form-group"  id = "Update">
         <label for="module">Module</label>
      <select name = "module" required required class ="sel-opt">
        <option> none </option>
        <% for(let x in modules) {%>
        <option value="<%= modules[x]._id %>"><%= modules[x].name %></option>
        <% }%>
    </select>
      </div>
      <label for="email">Role</label>
      <select name = "role" value="<%= data.module  %>" required class ="sel-opt">
        <option value="teacher">Teacher</option>
        <option value="leader">Leader</option>
        <option value="admin">Admin</option>
    </select>
     
    
      <a href="#">
        <button type="submit" class="submit">Submit</button>
      </a>
    </form>
    
  </div>




<%- include ('../include/_footer') %>

<!-- header -->