<!-- include header -->
<%- include ('_header') %>

<!-- header -->

<div class = "table-main">

<h1 class="course-heading"> Courses </h1>

<button class="ann-adding-btn">
	
	<a href="/admin/addcourse" class="add-button"><i class="fa fa-plus"></i> Add Courses</a>
</button>



<% for(let i in data){ %>
	<div id = "courses" class=" repeatable">
		<div class="course-title"> <%= data[i].name %> </div>
		<p class = "course">
			Description : <%= data[i].description %> <br>
			Duration: <%= data[i].duration %> <br>
		</p>
		
			<a class="log-remove-btn" href="/admin/remove/courses&<%= data[i]._id %>" onclick="return confirm('Confirm to remove course');"><i class="fa fa-trash-o"></i> Remove course</a>
			<a class="ann-remove" href="/admin/addmodule/<%= data[i]._id %>"><i class="fa fa-plus"></i> Add module</a>
			<a class="ann-remove" href="/admin/students/<%= data[i]._id %>"><i class="fa fa-plus"></i> View Students</a>

		

		<div class="mod-title">Modules</div>
		<% if(data[i].modules){ %> 
			<% for(let x in data[i].modules){ %>
		

				<div class="module-btn-list">
					
						<a class="ann-remove"  href="/admin/editmodule/<%= data[i].modules[x]._id %>"> <%= data[i].modules[x].name %> </a>
					
				</div>

					
				
			<% } %>
			<% } %>
	</div>
<% } %>
</div>
<!-- include header -->
<%- include ('include/_footer') %>

<!-- header -->