<!-- include header -->
<%- include ('_header') %>

<!-- header -->

<div class = "table-main">

<h1 class="course-heading"> Courses </h1>

<button class="ann-adding-btn">
	<i class="fa fa-plus"></i>
	<a href="/admin/addcourse" class="add-button">Add</a>
</button>



<% for(let i in data){ %>
	<div id = "courses" class="course-main-container">
		<div class="course-title"> <%= data[i].name %> </div>
		<p class = "course">
			Description : <%= data[i].description %> <br>
			Duration: <%= data[i].duration %> <br>
		</p>
		

		<button class="ann-adding-btn">
			<i class="fa fa-plus"></i>
			<a href="/admin/addmodule/<%= data[i].name %>" class="add-button">Add module</a>
		</button>

		<div>Modules</div>
		<% if(data[i].modules){ %> 
			<% for(let x in data[i].modules){ %>
			<a href="/admin/editmodule/<%= data[i].modules[x]._id %>"> <%= data[i].modules[x].name %> </a> <br>
			<% } %>
			<% } %>
	</div>
<% } %>
</div>
<!-- include header -->
<%- include ('include/_footer') %>

<!-- header -->