<%- include ('include/_header') %>

<div class="table-main">

<div> Announcements </div>

<a href="/announce">add</a>

<% for(let i in data){ %>
	<div id = "announcements" >
		<div class="announcement-title"> <%= data[i].title %> </div>
		<p class = "announcement-body">
			<%= data[i].text %> <br>
			Date: <%= data[i].date %> <br>
			Author: <%= data[i].user %>
		</p>
	</div>
<% } %>
</div>
<%- include ('include/_footer') %>