<!-- include header -->
<%- include ('include/_header') %>

<!-- header -->

<div class = "table-main">

<div> Courses </div>

<a href="/addcourse">add</a>

<% for(let i in data){ %>
	<div id = "courses">
		<div class="course-title"> <%= data[i].name %> </div>
		<p class = "course">
			Description : <%= data[i].description %> <br>
			Duration: <%= data[i].duration %> <br>
		</p>
		<a href="/addmodule/<%= data[i].name %>">Add module</a>
		<div>Modules</div>
		<% if(data[i].modules){ %> 
			<% for(let x in data[i].modules){ %>
			<a href="/editmodule/<%= data[i].modules[x]._id %>"> <%= data[i].modules[x].name %> </a>
			<% } %>
			<% } %>
	</div>
<% } %>
</div>
<!-- include header -->
<%- include ('include/_footer') %>

<!-- header -->