
<% for(let i in data){ %>
	<div id = "announcements" class="announcements repeatable">
		<h2 class="announcement-title"> <%= data[i].title %> </h2>
		<p class = "announcement-body">
			<%= data[i].text %> <br>
			Date: <%= data[i].date %> <br>
			Author: <%= data[i].user %>

			<% if(role == "admin"){ %>
		
				<a class="log-adding-btn" href="/admin/remove/announcements&<%= data[i]._id %>" onclick="return confirm('Confirm to remove announcement');">
					
					<i class="fa fa-trash-o"></i>
					Remove announcements
				</a>
			<% } %>
		</p>
	</div>
<% } %>

