<!-- include header -->
<%- include ('_header') %>

<!-- header -->
<div class = "table-main">
	<h1>Assignments</h1>
	<button class="ann-adding-btn">
		
		<a href="/teacher/addAssignments" class="add-button"><i class="fa fa-plus"></i> Add</a>
	</button>

	

<% for(let i in data){ %>
	<div id = "announcements" class="assignment-main-container">
		<div class="announcement-title"> <%= data[i].title %> </div>
		<p class = "announcement-body">
			<%= data[i].text %> <br>
			Date: <%= data[i].date %> <br>
			Due: <%= data[i].due %>
		</p>

			<a class="ann-remove" href="/fileget/<%= data[i]._id + data[i].extension %>">Download file</a>
	

		
			<a class="ann-remove" href="/teacher/submissions/<%= data[i]._id %>">view submissions</a>
	
		
		
	</div>
		
		<a class="log-remove-btn" href="/teacher/delete/assignments&<%= data[i]._id %>" onclick="return confirm('Confirm to remove module');">
			<i class="fa fa-trash-o"></i>
			Remove
		</a>
	

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
<% } %>
</div>
</div>


<!-- include header -->
<%- include ('include/_footer') %>
