<!-- include header -->
<%- include ('include/_header') %>

<!-- header -->
<a href="/assignment">add</a>

<% for(let i in data){ %>
	<div id = "announcements" >
		<div class="announcement-title"> <%= data[i].title %> </div>
		<p class = "announcement-body">
			<%= data[i].text %> <br>
			Date: <%= data[i].date %> <br>
			Due: <%= data[i].due %>
		</p>
		<a href="/file/<%= data[i].filename %>">Download file</a>
	</div>
<% } %>
</div>


<!-- include header -->
<%- include ('include/_footer') %>
