<!-- include header -->
<%- include ('_header') %>

<!-- header -->
<div class = "table-main">
	<h1>Assignments</h1>
	<button class="ann-adding-btn">
		<i class="fa fa-plus"></i>
		<a href="/teacher/addAssignments" class="add-button">Add</a>
	</button>

	

<% for(let i in data){ %>
	<div id = "announcements" class="assignment-main-container">
		<div class="announcement-title"> <%= data[i].title %> </div>
		<p class = "announcement-body">
			<%= data[i].text %> <br>
			Date: <%= data[i].date %> <br>
			Due: <%= data[i].due %>
		</p>
		<button class="ann-adding-btn">
			<a href="/fileget/<%= data[i]._id%>" class="add-button">Download file</a>
		</button>

		<button class="ann-adding-btn">
			<a href="/teacher/submissions/<%= data[i]._id%>" class="add-button">view submissions</a>
		</button>
		
		
	</div>
	<button class="log-remove-btn">
		<i class="fa fa-trash-o"></i>
		<a href="/teacher/delete/assignments&<%= data[i]._id %>">Remove</a>
	</button>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
<% } %>
</div>
</div>


<!-- include header -->
<%- include ('include/_footer') %>
