<!-- include header -->
<%- include ('_header') %>

<!-- header -->

<div class="table-main">

<% for(let i in data){ %>
	<div id = "announcements" >
		<div class="announcement-title"> <%= data[i].name %> </div>
		<p class = "announcement-body">
			<%= data[i].comment %> <br>
			Date: <%= data[i].date %> <br>
			Student UID = <%= data[i].uid %> <br>
			Student Name = <%= data[i].name %>
		</p>
		<a href="/fileget/<%= data[i]._id + data[i].filename %>">Download file</a>
	<form action="/teacher/grade/<%= data[i]._id %>" method="post">
		<select name = "grade" required>
        <option value="A+">A+</option>
        <option value="A">A</option>
        <option value="B-">B-</option>
		<option value="A+">A+</option>
        <option value="B">B</option>
        <option value="B-">B-</option>
		<option value="C+">C+</option>
        <option value="C">C</option>
        <option value="C-">C-</option>
		<option value="D+">D+</option>
        <option value="D">D</option>
        <option value="D-">D-</option>
		<option value="F">F</option>
		<input type="text" name="feedback" placeholder="Feedback">
    </select>
	<button type="submit">Grade</button>
	</form>
	</div>
<% } %>
</div>
</div>

<!-- include header -->
<%- include ('include/_footer') %>

<!-- header -->