<%- include('_header') %>

	<div class = "table-main">

		<h1 class="table-heading">Modules</h1>

<% for(let i in data){ %>
	<div id = "announcements" class="course-main-container">
		<div class="announcement-title"> <%= data[i].name %> </div>
		<p class = "announcement-body">
			Description: <%= data[i].description %> <br>
			Credit: <%= data[i].credit %> <br>
			Duration: <%= data[i].duration + " years" %> 
		</p>
		<button class="ann-adding-btn">
			<a href="/student/assignments/<%= data[i]._id %>" class="add-button">View Assignments</a>
		</button>
		<button class="ann-adding-btn">
			<a href="/student/tutor/<%= data[i]._id %>" class="add-button">Request For Personal Tutor</a>
		</button>
		
	</div>
<% } %>
</div>
</div>

<% include('include/_footer') %>