<% include('_header') %>
<% if(data.length == 0) { %>
		<h1>No Assignments</h1>
	<% } %>

	<div class = "table-main">
		

	<% for(let i in data){ %>
		<div id = "announcements" >
			<div class="announcement-title"> <%= data[i].name %> </div>
			<p class = "announcement-body">
				Description: <%= data[i].description %> <br>
				Credit: <%= data[i].credit %> <br>
				Duration: <%= data[i].duration + " years" %> 
			</p>
			<a href="/student/assignments/<%= data[i]._id %>">Download file</a>
			<a href="/student/submit/<%= data[i]._id %>">Submit</a>
		</div>
	<% } %>
</div>

<!-- header -->
<form action="/teacher/addAssignments" method = "POST" enctype="multipart/form-data">
	<div class="">
		<label>Title</label>
		<input type = "text" name = "title">
		
		<label>Due</label>
		<input type = "date" name="due">
		
		<label for="file" class="form-label">Include Resourses</label>
 		<input class="form-control" type="file" id="formFile" name = "upfile">

  <button type="submit" class="btn btn-primary">Submit</button></a>
</div>
</form>

<% include('include/_footer') %>