<%- include ('_header') %>

<div class = "table-main">
		<% if(data.length == 0) { %>
				<h1>No Assignments</h1>
			<% } %>
		

	<% for(let i in data){ %>
	<div id = "announcements" class="repeatable" >
		<div class="announcement-title"> <%= data[i].title %> </div>
		<p class = "announcement-body">
			<%= data[i].text %> <br>
			Date: <%= data[i].date %> <br>
			Due: <%= data[i].due %>
		</p>
		<a href="/fileget/<%= data[i]._id + data[i].extension %>">Download file</a>
		<a href="/student/submit/<%= data[i]._id%>">view submissions</a>
	</div>
<% } %>
</div>

<!-- header -->


<% include('include/_footer') %>