<!-- include header -->
<%- include ('_header') %>

<!-- header -->
<div class = "table-main">

<h1 class="std-heading"><%= assignment.title %></h1>

	<h1 class="announcement-title">  </h1>
	<h2>Your Submissions:</h2>
	<% if(data){ %>
		<div class="repeatable">
		<p class = "announcement-body">
			<%= data.comment %> <br>
			Date: <%= data.date %> <br>
			Grade: <%= data.grade %> <br>
			Feedback : <%= data.feedback %> <br>
		</p>
		<a href="/fileget/<%= data._id + data.filename %>">Download file</a>
	</div>
	<% }else{ %>
		<h1>You have no submissions for this assignment</h1>
		<% }%>

		<% if(new Date(assignment.due) > new Date() ) { %>
			<h3>Submit or resubmit</h3>
	<form action="/student/submit/<%= assignment._id %>" method="post" enctype="multipart/form-data">

		<div class="mb-3">
			<label for="formFile" class="form-label">write comments on your submission</label>
			<input type="text" name="comment">
			<label for="formFile" class="form-label">Upload file</label>
			<input class="form-control" type="file" id="formFile" name = "upfile" required>
			<button type="submit" class="ann-remove" name = "upfile">Submit</button></a>
		</div>
	</form>
		<% } %>

</div>
</div>


<!-- include header -->
<%- include ('include/_footer') %>
